.Action {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
  width: 100px;
  height: 160px;
  background: #F8ECC2;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: black;

  &:hover {
    transform: scale(1.7);
    z-index: 2;
    opacity: 1;

    .ExpandedInfo {
      opacity: 0.9;
    }
  }

  .Name {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 35px auto auto;
    max-width: 90%;
    font-size: 12px;
  }

  .Description {
    font-size: 12px;
    margin: 3px;
  }

  .ExpandedInfo {
    color: black;
    position: absolute;
    left: -70%;
    top: 0;
    width: 60px;
    border: solid 5px #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    transition: all 0.1s;
    background: #F8ECC2;
    opacity: 0;

    span {
      font-size: 12px;
    }
  }
}

.Hunter {
  background: #bfffc6;
}

.Monster {
  background: #ffbfbf;
}

.Active {
  background: #bfc1ff;
}

.Filled {
  opacity: 0.9;
}
